.clock-container {
  background-color: gray;
  width: 500px;
  height: 500px;
  padding: 0;
  margin: 0 auto;
}

.clock-face {
  background-color: lightgray;
  position: relative;
  width: 100%;
  height: 100%;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
}

#hour-hand {
  width: 10px;
  height: 150px;
  background-color: black;
  transform: rotate(90deg);
}

#min-hand {
  width: 10px;
  height: 200px;
  background-color: red;
  transform: rotate(45deg);
}

#sec-hand {
  width: 5px;
  height: 250px;
  background-color: green;
  transform: rotate(5deg);
}
